.box {
  width: 100px;
  height: 100px;
  background-color: tomato;
  margin: 50px;
  transition: 2s ease-in;
  /* transition-property: width, background;
  transition-duration: 1s; */
  /* transition-timing-function: linear; */
}

.box:hover {
  width: 300px;
  background-color: dodgerblue;
}