.container {
  width: 600px;
  display: grid;
  grid-template-rows: [first] 100px [second] 200px [third];
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row dense;
}

.item {
  border: 10px solid red;
}

.item:nth-child(1) {
  grid-column: span 2;
}
.item:nth-child(2) {
  grid-row: first / second;
}