.parent {
  width: 100px;
  height: 300px;
  border: 4px solid tomato;
  margin: 20px;
}

.child {
  width: auto;
  max-width: 400px;
  min-width: 200px;
  height: 200px;
  background-color: orange;
}