.parent {
  width: 300px;
  height: 250px;
  border: 4px solid;
  overflow: scroll;
}

.parent .child {
  width: 100px;
  height: 100px;
  background-color: tomato;
  border: 4px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}