ul {
  list-style: none;
  font-size: 40px;
}
ul.before li::before {
  /* content: "숫자";
  font-weight: bold;
  color: red;
  margin-right: 20px; */
  content: "";
  width: 30px;
  height: 30px;
  background-color: tomato;
  margin-right: 20px;
  display: inline-block;
  border-radius: 50%;
}

ul.after li::after {
  content: url("https://heropy.blog/css/images/logo.png");
}

